name: Dry Run

on:
  pull_request:
    branches: '*'

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    name: Upload dry run
    runs-on: ubuntu-latest

    environment:
      name: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml

      - name: Build and upload
        env:
          DRY_RUN: 1
        run: python -m script
