name: Update packages

on:
  schedule:
    - cron: "0 */4 * * *"
  push:
    branches: main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-scheduled
  cancel-in-progress: false

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    runs-on: ubuntu-latest

    environment:
      name: dev

    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml

      - name: Update mirror
        run: python -m script
